html,
body {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fffff7;
  background-image: url(./pokeball-bg.png);
  background-repeat: repeat;
  background-size: 200px 200px;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

#search-recommendation:hover {
  background-color: #343a40 !important;
  color: white !important;
}

#search-recommendation:focus {
  background-color: #343a40 !important;
  color: white !important;
}

.navbar-toggler {
  padding: 2px 0px 2px 0px;
}
