html,
body {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  background: url(./trainer_battles_arena.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  /*background-image: url(./pokeball-bg.png);
  background-color: #fffff7;
  background-repeat: repeat;
  background-size: 313px 188px;
  background-attachment: fixed;
  background-blend-mode: multiply;*/
}

#search-recommendation:hover {
  background-color: #343a40 !important;
  color: white !important;
}

#search-recommendation:focus {
  background-color: #343a40 !important;
  color: white !important;
}

.navbar-toggler {
  padding: 2px 0px 2px 0px;
}

a.active {
  background-color: white !important;
  color: black !important;
}
